<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center ">
    <br />
    <h1>Learn Javascript from other coders</h1>
    <br />
    <h2>Videos for coders of all levels!</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Videos</h3>
    <br />
    <div><%= image_tag "cloud.png", :size => '300x200' %></div>
    <br />
    <p>Videos on all types of JS Topics</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Awesome Instructors</h3>
    <br />
    <div><%= image_tag "teacher.png", :size => '300x200' %></div>
    <br />
    <p>Choose from any number of courses to study with amazing teachers</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Awesome Content</h3>
    <br />
    <div><%= image_tag "student.jpg", :size => '300x200' %></div>
    <!-- <div><%= image_tag "student.jpg", class: "img-fluid" %></div> -->
    <br />
    <p>Videos for all skill levels</p>
  </div>
</div>
